.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d; /* fondo oscuro */
}

.login-card {
  background: #1c1c1c;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  width: 350px;
  text-align: center;
  color: white;
}

.login-card h2 {
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 14px;
}

.form-group input {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 8px;
  background: #2a2a2a;
  color: white;
}

button {
  margin-top: 1rem;
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  background: #7c3aed;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #5b21b6;
}

.register-text {
  margin-top: 1rem;
  font-size: 14px;
}
